# "Basic CakePHP mapping + wp/wp-content/uploads to app/webroot/old-files/"
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^wp/wp-content/uploads/(.*) app/webroot/old-files/$1 [L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>