/* Bootstrap Fix */
/*.modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
}
.modal-body { 
    height: 60%;
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
}*/

/* Header and Footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -93px;
  /* Pad bottom by footer height */
  padding: 0 0 93px;
}
@media (max-width: 767px){
	#wrap{
		overflow: hidden;
	}
}

/* Set the fixed height of the footer here */
#footer {
  height: 93px;
  background-color: #f5f5f5;
}
@media (max-width: 767px){
	#wrap{
		margin: 0 auto -140px;
		padding: 0 0 140px;
	}
	#footer{
		height: 140px;
	}
}

.navbar{
	z-index: 1030;
}



/* bootstrap override */
a{
	color: rgb(156, 81, 124);
}
a:hover,
a:hover span{
	color: #b49155;
}
blockquote{
	margin: 10px 10px 20px 10px;
}
blockquote p{
	font-size: 14px;
}
.ar{
	text-align: right;
}
.muted{
	color: #777;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}

.navbar-nav {
margin: 7.5px -5px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.container{
	position: relative;
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
}
.welcome{
	position: absolute;
	right: 20px;
	top: 8px;
	font-size: 12px;
	color: #333;
}
.nav li a{
	padding: 0;
}
.progress{
	margin: 0;
}
.progress-bar{
	background: #742954;
}
@media (min-width: 768px){
	.container{
		width: 970px;
	}
}


/* site specific */
body{
	font-size: 12px;
}

.fb-follow-container{
	margin-bottom: 20px;
	overflow: hidden;
}

.twitter-tweet-container-post{
	height: 20px;
}

button#fb-feed{
	background: #4c69ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c69ba), color-stop(100%,#3b55a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c69ba 0%,#3b55a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c69ba 0%,#3b55a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c69ba 0%,#3b55a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c69ba 0%,#3b55a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3b55a0',GradientType=0 ); /* IE6-9 */
	
	color: #fff;
	font-size: 11px;
	height: 20px;
	border: none;
	border-radius: 2px;
}
button#fb-feed:hover{
	background: #5c79ca; /* Old browsers */
	background: -moz-linear-gradient(top,  #5c79ca 0%, #4b65b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c79ca), color-stop(100%,#4b65b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5c79ca 0%,#4b65b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5c79ca 0%,#4b65b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5c79ca 0%,#4b65b0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5c79ca 0%,#4b65b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c79ca', endColorstr='#4b65b0',GradientType=0 ); /* IE6-9 */
}

.social-container{
	margin-bottom: 40px;
}

.box{
	margin-bottom: 10px;
	border: solid 1px rgb(212, 190, 151);
	border-top: solid 5px rgb(212, 190, 151);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.box h2{
	margin: 0;
	padding-left: 10px;
	line-height: 32px;
	background: rgb(250, 250, 240);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 250, 240)), to(rgb(241, 238, 223)));
	font-size: 15px;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.box h2:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.box .content{
	padding: 12px 12px;
}

ul.basic{
	padding: 0;
	list-style: none;
}
ul.basic li{
	padding-left: 20px;
	background-image: url('../img/icon/li1.png');
	background-repeat: no-repeat;
	background-position: 0px 6px;
	line-height: 24px;
}
ul.basic li.li2{
	padding-left: 40px;
	background-image: url('../img/icon/li2.png');
	background-repeat: no-repeat;
	background-position: 25px 6px;
}

ul.news{
	list-style: none;
	padding: 0;
}
ul.news li{
	margin-bottom: 10px;
}
ul.news li a:hover{
	text-decoration: none;
}
ul.news li time{
	padding: 4px;
	background: #742954;
	color: white;
	font-size: 10px;
}
ul.news li a span{
	font-size: 12px;
}
ul.news li a:hover span{
	text-decoration: underline;
}

table.search{
	width: 100%;
}
table.search tr{
	height: 24px;
}
table.search select,
table.search input{
	width: 100%;
}
table.search button.search{
	width: 100%;
	background: #8e4570; /* Old browsers */
	background: -moz-linear-gradient(top,  #8e4570 0%, #551839 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e4570), color-stop(100%,#551839)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8e4570 0%,#551839 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8e4570 0%,#551839 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8e4570 0%,#551839 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8e4570 0%,#551839 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e4570', endColorstr='#551839',GradientType=0 ); /* IE6-9 */
	color: white;
	border: solid 1px white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	letter-spacing: 1.2em;
	font-size: 14px;
}

.navbar{
	background: transparent;
	background-image: url("../img/bg.png");
	background-position: center top;
	background-repeat: no-repeat;
	height: 139px;
	border: none;
	border-top: solid 4px #742954;
	margin-bottom: -20px;
}

.navbar .container .navbar-header{
	margin-right: -5px;
	margin-left: -5px;
}

.navbar .navbar-brand{
	padding: 20px 5px;
	margin-right: 20px;
}

.container .navbar-collapse{
	margin-right: -5px;
	margin-left: -5px;
	padding: 0;
}

.navbar .navbar-collapse ul.nav li a{
	color: #742954;
	font-size: 14px;
}

.navbar .navbar-collapse ul.nav li small{
	color: #969696;
	font-size: 8px;
}

@media (min-width: 768px){
	.navbar .navbar-collapse ul.nav li.divider{
		background: url('../img/icon/sep.jpg');
		background-repeat: no-repeat;
		background-position: 8px 0px;
		width: 16px;
		height: 40px;
	}
	
	.navbar .navbar-collapse ul.nav{
		margin-top: 33px;
	}
	.navbar .navbar-collapse ul.nav li{
		text-align: center;
	}
}
@media (max-width: 767px){
	.navbar .navbar-collapse{
		background: #481934;
	}
	.navbar .navbar-collapse ul.nav{
		margin: 0;
	}
	.navbar .navbar-collapse ul.nav li{
		padding: 10px;
		border-bottom: solid 1px #6C465C;
		font-size: 12px;
		background: url('../img/icon/sp_menu_li1.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	.navbar .navbar-collapse ul.nav li.divider{
		padding: 0;
		border: none;
	}
	.navbar .navbar-collapse ul.nav li a{
		color: #979797;
	}
	.navbar .navbar-collapse ul.nav li small{
		display: none;
	}
	.navbar-inverse .navbar-toggle,
	.navbar-inverse .navbar-toggle:focus,
	.navbar-inverse .navbar-toggle:hover{
		margin-top: 30px;
		background: #792857;
	}
	.navbar-inverse .navbar-toggle .icon-bar{
		background: white;
	}
}

div#footer{
	border-top: solid 2px #DCB165;
	border-bottom: solid 1px #E0D3DA;
	background: #41162e; /* Old browsers */
	background: -moz-linear-gradient(left,  #41162e 0%, #722752 50%, #41162e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#41162e), color-stop(50%,#722752), color-stop(100%,#41162e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #41162e 0%,#722752 50%,#41162e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #41162e 0%,#722752 50%,#41162e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #41162e 0%,#722752 50%,#41162e 100%); /* IE10+ */
	background: linear-gradient(to right,  #41162e 0%,#722752 50%,#41162e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41162e', endColorstr='#41162e',GradientType=1 ); /* IE6-9 */
	text-align: center;
	font-size: 12px;
	color: white;
}

div#footer .nav{
	margin: 17px 0;
}

div#footer .nav a{
	color: white;
	padding-left: 10px;
	padding-right: 15px;
	background-image: url('../img/icon/footer_li1.png');
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

div#footer .credit{
	font-size: 10px;
}

div.icon-like{
	background: #3b5998;
	color: white;
	padding: 2px;
	font-size: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button.btn.premium{
	padding-left: 32px;
	background-image: url('img/premium.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
}
span.premium{
	padding: 5px;
	padding-left: 24px;
	background-image: url('img/premium.png');
	background-repeat: no-repeat;
	font-size: 14px;
}

/* Page Specific */
/* Table Haader */
.thead{
	padding: 0;
}
.thead table{
	width: 100%;
	height: 100%;
}
.thead table tr th{
	text-align: center;
	height: 57px;
	background: #F9F8F3;
	border: solid 1px #CCC;
}
.thead .col-sm-6{
	padding: 0;
}
@media(max-width: 767px){
	.thead .left table tr th{
		border-bottom: none;
	}
}
@media(min-width: 768px){
	.thead .left,
	.thead .right,
	.thead table thead tr th{
		height: 57px;
	}
}
/* Home/Index */
#IndexSearch .box{
	/*padding: 34px 20px 0 20px;*/
	height: 175px;
}
@media (max-width: 767px){
	#IndexSearch{
		padding: 5px;
	}
}

#main, #sp-main{
	display: none;
}
@media (min-width: 539px){
	#main{
		display: inline;
	}
}
@media (max-width: 538px){
	#sp-main{
		display: inline;
	}
}
/* Home/Hoslist */
div.row-search .content{
	min-height: 130px;
}
ul.hoslist{
	list-style: none;
	padding: 0;
}
ul.hoslist li{
	border-bottom: solid 1px #DDD;
	padding: 5px 0;
}
@media (min-width: 768px){
	ul.hoslist li{
		height 60px;
	}
	ul.hoslist li .left,
	ul.hoslist li .right{
		height: 50px;
	}
}
ul.hoslist li .left table,
ul.hoslist li .right table{
	width: 100%;
	height: 100%;
}
.thead .address,
ul.hoslist li .address{
	width: 47px;
}
.thead .dpc,
.thead .jcqhc,
.thead .training,
ul.hoslist li .dpc,
ul.hoslist li .jcqhc,
ul.hoslist li .training{
	width: 32px;
}
ul.hoslist li .right table tr td.value{
	width: 50px;
	text-align: right;
}
ul.hoslist li .right table tr td .progress{
	margin: 0;
}
@media (min-width: 768px){
	/*ul.hoslist li .left td.name{
		width: 126px;
	}*/
}

/* items, items-half */
ul.items,
ul.items-half{
	list-style: none;
	padding: 0;
}
ul.items li,
ul.items-half li{
	border-bottom: solid 1px #DDD;
	padding 5px 0;
}
ul.items li .col-sm-6{
	padding: 0;
}
ul.items table,
ul.items-half table{
	width: 100%;
	height: 100%;
}
ul.items li .progress,
ul.items-half li .progress{
	margin: 0;
}
@media (min-width: 768px){
	ul.items li{
		height: 60px;
	}
	ul.items li .left,
	ul.items li .right{
		height: 60px;
	}
}

/* elements */
ul.elements{
	list-style: none;
	padding: 0;
}
ul.elements li{
	float: left;
}
ul.elements:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Home/Toplst */
.thead .address,
.thead .ave_month,
ul.items.toplst li .address,
ul.items.toplst li .ave_month,
ul.items.toplst li .value{
	width: 50px;
}

/* Home/Dpc */
table.dpc{
	width: 100%;
	margin-bottom: 20px;
}
table.dpc tr td{
	padding: 5px;
}
table.dpc tr td.count,
table.dpc tr td.rate,
table.dpc tr td.days,
table.dpc tr td.bar{
	width: 50px;
}
h2.dpc{
	background: #f1f1f1;
	border: solid 1px #ccc;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
}
h3.dpc{
	font-size: 14px;
	font-weight: bold;
}
table.dpc-half{
	width: 100%;
}
table.dpc-half tr{
	border-bottom: solid 1px #ccc;
}
table.dpc-half tr th{
	text-align: center;
}
table.dpc-half tr td{
	padding: 5px;
}
@media (min-width: 768px){
	table.dpc tr td.bar{
		width: 150px;
	}
}

/* MaladyList */
table.maladylist{
	width: 100%;
}
table.maladylist tr{
	border-bottom: solid 1px #ccc;
}
table.maladylist tr th{
	text-align: center;
	background: #F9F8F3;
}
table.maladylist tr td{
	padding: 5px;
}

/* Hosdetail */
#hosdetail-menu{
	margin-bottom: 10px;
}
#hosdetail-menu a{
	color: #742954;
	font-size: 14px;
	padding: 5px;
}
#hosdetail-menu a.premium{
	padding-left: 24px;
	background-image: url('img/premium.png');
	background-repeat: no-repeat;
}
#hosdetail-menu .box h2{
	font-size: 22px;
}
table.hosdetail-head{
	width: 100%;
}
table.hosdetail-head tr th.ave_month,
table.hosdetail-head tr th.zone_share,
table.hosdetail-head tr th.ave_in,
table.hosdetail-head tr th.complex,
table.hosdetail-head tr th.efficiency,
ul.items.hosdetail li .left table tr td.ave_month,
ul.items.hosdetail li .left table tr td.zone_share,
ul.items.hosdetail li .left table tr td.ave_in,
ul.items.hosdetail li .left table tr td.complex,
ul.items.hosdetail li .left table tr td.efficiency{
	width: 50px;
}

/* Hoscmp */
#hoscmp table.hoscmp-head{
	width: 100%;
}
#hoscmp table.hoscmp-head tr th.address,
#hoscmp table.hoscmp-head tr th.value,
#hoscmp table.hoscmp-head tr th.distance,
#hoscmp ul.items li .left table tr td.address,
#hoscmp ul.items li .left table tr td.value,
#hoscmp ul.items li .right table tr td.distance{
	width: 50px;
}

/* Hosinfo */
#hosinfo ul.hospitals-nearby{
	list-style: none;
	padding: 0;
}
#hosinfo h3{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

/* Chart */
#chartdiv{
	width: 100%;
	height: 500px;
}
@media (max-width: 767px){
	#chartdiv{
		height: 700px;
	}
	#chartdiv.bubbles{
		height: 400px;
	}
}
@media (max-width: 320px){
	#chartdiv{
		height: 850px;
	}
	#chartdiv.bubbles{
		height: 300px;
	}
}

/* 昔のCSS */
/* テーブル*/
TABLE.tb1 {
	width:92%;
	margin: 20px 0px 20px 15px;
	border-collapse: collapse;
	border: solid 1px #D5C591;
}
TABLE.tb1 th{
	padding: 5px 10px 5px 10px;
	background:#F9F8F3;
	border: solid 1px #D5C591;
}
TABLE.tb1 td{
	padding: 5px 10px 5px 10px;
  border: solid 1px #D5C591;
	line-height: 150%;
}
TABLE.tb2 {
	width:92%;
	margin: 20px 0px 20px 15px;
	border-collapse: collapse;
	border: solid 1px #cccccc;
}
TABLE.tb2 th{
	padding: 5px 10px 5px 10px;
	background:#eeeeee;
	border: solid 1px #cccccc;
}
TABLE.tb2 td{
	padding: 5px 10px 5px 10px;
  border: solid 1px #cccccc;
	line-height: 150%;
}
.ddsg-wrapper{
	margin: 0px 10px 0px 20px;
}

/* 以前の模倣 */
h2.posttitle{
	background: #FDFDFC;
	font-size: 16px;
	padding: 5px;
	border: solid 1px #CCC;
	/*border-bottom: solid 4px #78325A;*/
	border-bottom: solid 4px rgb(212, 190, 151);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
h2.posttitle a{
	color: #454545;
}
.pagebox h3{
	font-size: 14px;
	letter-spacing: 0.05em;
	color: #7F734C;
	padding: 8px 0px 6px 10px;
	margin: 25px 0px 20px 0px;
	background:#E5D9B2;
	border:solid 1px #FFFFFF;
}
.pagebox h4{
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #7F734C;
	font-weight: bold;
	padding: 0px 0px 0px 8px;
	margin: 15px 0px 11px 2px;
	border-left:solid 4px #E5E5E5;
}

/* Cake */
.message,
.error-message{
	color: red;
}
